.Card {
  width: 350px;
  height: 270px;
  margin: 1rem;
  overflow-y: hidden;
  padding-left:5px;
  padding-right:5px;
}

.CardTitle {
  font-weight: 300;
}

.ClickableBlogCard {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.ClickableBlogCard:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}

/* Portrait */
@media only screen and (max-width: 680px) {
    .Card {
      margin: 0px;
      margin-bottom: 1rem;
    }
}
